body {
    color: rgb(59, 58, 62);
}

input {
    font-size: 18px;
    size: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    color: rgb(119, 118, 123);
}

select{
    background: none;
    border-radius: 30px;
    border: 1px solid #9194a7;
    color: rgb(59, 58, 62);
    text-indent: 10px;
    line-height: 26px;
    font-size: 12px;"
}

#u17 {
    margin: 20px 0px 0px 20px;
}

#u20, #u22, #u24 {
    font-size: 20px;
}

#u21, #OrganizationId, #u25 {
    width: 250px;
    height: 30px;

}


#u25 {
    width: 90%;
    margin-left: 5%;
}

label{
    color: rgb(59, 58, 62);
}

