<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据分析-职员异动情况统计分析-职员异动情况月度子表</title>
    <link rel="stylesheet" href="css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="ByIndex">
            <div class="layui-logo">企业人力资源系统</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a  >-->
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="">邮件管理</a></dd>-->
        <!--<dd><a href="">消息管理</a></dd>-->
        <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--</ul>-->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <span id="mytime"></span>
            </li>
            <span >
            <li class="layui-nav-item">

                     <a href="javascript:;">
                    <img src="/images/face/26ed195281334ba4b1752394b60eb29a.gif" class="layui-nav-img">
                    <span  th:text="${loginsessions.username}"></span>
                </a>



                <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
                <!--</dl>-->
            </li>
            <li class="layui-nav-item"><a href="ByLogin">退出登录</a></li>
                </span>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">我的工作台</a>
                    <dl class="layui-nav-child">
                        <dd><a href="bocklog">待办列表</a></dd>
                        <dd><a href="changePassword">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">部门管理</a></dd>
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a href="javascript:;">职位管理</a></dd>
                        <dd><a href="javascript:;">职称管理</a></dd>
                        <dd><a href="javascript:;">题库管理</a></dd>
                        <dd><a href="javascript:;">公共属性管理</a></dd>
                        <dd><a href="javascript:;">薪酬项目管理</a></dd>
                        <dd><a href="javascript:;">用户设置</a></dd>
                        <dd><a href="javascript:;">部门设置</a></dd>
                        <dd><a href="javascript:;">用户设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">薪酬管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">薪酬标准管理</a></dd>
                        <dd><a href="javascript:;">薪酬发放管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">人事管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">人事档案管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">招聘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">职位发布管理</a></dd>
                        <dd><a href="javascript:;">简历管理</a></dd>
                        <dd><a href="javascript:;">面试管理</a></dd>
                        <dd><a href="javascript:;">录用管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">培训计划</a></dd>
                        <dd><a href="javascript:;">培训复核</a></dd>
                        <dd><a href="javascript:;">培训考核与反馈</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="ana-Details">数据分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="ana-Details">职员明细表</a></dd>
                        <dd><a href="ana-SntheticData">职员数据综合报表</a></dd>
                        <dd><a href="ana-PostChangesStatistics">职员异动情况统计分析</a></dd>
                        <dd><a href="ana-ReserveTalent">储备人才统计表</a></dd>
                        <dd><a href="ana-Architecture">公司各体系结构分析</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body"  style="background-image: url('/images/face/0002.gif')">
        <div class="layui-body" style="font-size: 20px">
            <div style="margin: 20px auto 40px 20px">
                <a href="ana-Details">数据分析</a> >> <a href="ana-SntheticData">职员异动情况统计分析</a>>><a
                    href="ana-PostChangesStatisticsByMonth">职员异动情况------入职明细子表</a>

            </div>
            <form action="">
                <div>
                    <!--员工姓名-->
                    <label style="margin-left: 50px">员工姓名：</label>
                    <input type="text" name="employeeName" id="employeeName">

                    <button type="button" style="margin-left: 1000px"
                            class="layui-btn layui-btn-radius layui-btn-normal">
                        &nbsp;&nbsp;查询 &nbsp;&nbsp;
                    </button>
                    <button type="button"
                            class="layui-btn layui-btn-radius layui-btn-normal">
                        &nbsp;&nbsp;返回 &nbsp;&nbsp;
                    </button>
                </div>
                <table style="margin-left: 20px;border: 1px solid #000;" class="layui-table">

                    <tr>
                        <th rowspan="2">编号</th>
                        <th rowspan="2">部门</th>
                        <th rowspan="2">岗位</th>
                        <th rowspan="2">姓名</th>
                        <th rowspan="2">入职时间</th>
                        <th colspan="8">未提交资料</th>
                    </tr>

                    <tr>
                        <th>离职证明</th>
                        <th>体检报告</th>
                        <th>彩色照片</th>
                        <th>身份证复印件</th>
                        <th>户口本复印件</th>
                        <th>学历证复印件</th>
                        <th>录用确认函</th>
                        <th>其他</th>
                    </tr>

                    <tr>
                        <td>001</td>
                        <td>产品研发部</td>
                        <td>初级软件开发工程师</td>
                        <td>张三</td>
                        <td>2019-06-06</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                    </tr>

                </table>
            </form>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->


        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    <!--这个cg就是span的id，初始化Date时间并转化为字符string类型,每1000毫秒，setInterval() 就会调用函数，直到被关闭。-->
    setInterval("cg.innerHTML=new Date().toLocaleString()", 1000);


</script>
<script type="text/javascript">
    function showTime() {
        nowtime = new Date();
        year = nowtime.getFullYear();
        month = nowtime.getMonth() + 1;
        date = nowtime.getDate();
        document.getElementById("mytime").innerText = year + "年" + month + "月" + date + " " + nowtime.toLocaleTimeString();
    }

    setInterval("showTime()", 1000);

</script>
<script type="text/javascript">
    $(function () {
        $("input").attr('autocomplete', 'off');
    });
</script>
<style>
    body {
        color: rgb(59, 58, 62);
    }

    input {
        font-size: 18px;
        size: 30px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #ffffff;
        color: rgb(119, 118, 123);
    }
</style>
</body>
</html>