<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据分析-职员数据综合报表</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/bisele.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="ByIndex">
            <div class="layui-logo">企业人力资源系统</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a  >-->
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="">邮件管理</a></dd>-->
        <!--<dd><a href="">消息管理</a></dd>-->
        <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--</ul>-->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <span id="mytime"></span>
            </li>
            <span>
            <li class="layui-nav-item">

                     <a href="javascript:;">
                    <img src="/images/face/26ed195281334ba4b1752394b60eb29a.gif" class="layui-nav-img">
                    <span th:text="${loginsessions.username}"></span>
                </a>


                <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
                <!--</dl>-->
            </li>
            <li class="layui-nav-item"><a href="ByLogin">退出登录</a></li>
                </span>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">我的工作台</a>
                    <dl class="layui-nav-child">
                        <dd><a href="bocklog">待办列表</a></dd>
                        <dd><a href="changePassword">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a href="javascript:;">职位管理</a></dd>
                        <dd><a href="javascript:;">职称管理</a></dd>
                        <dd><a href="Organization">组织结构设置</a></dd>
                        <dd><a href="javascript:;">题库管理设置</a></dd>
                        <dd><a href="javascript:;">公共属性管理</a></dd>
                        <dd><a href="javascript:;">薪酬项目管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">薪酬管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="showListS">薪酬标准管理</a></dd>
                        <dd><a href="queryAll;">薪酬发放管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">人事管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="showList">人事档案管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">招聘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="rec-JobManage">职位发布管理</a></dd>
                        <dd><a href="resumeManagement">简历管理</a></dd>
                        <dd><a href="javascript:;">面试管理</a></dd>
                        <dd><a href="javascript:;">录用管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="showCultivates">培训计划</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据分析</a>
                    <dl class="layui-nav-child  ">
                        <dd><a href="ana-Details">职员明细表</a></dd>
                        <dd><a href="ana-SntheticData">职员数据综合报表</a></dd>
                        <dd><a href="ana-PostChangesStatistics">职员异动情况统计分析</a></dd>
                        <dd><a href="ana-ReserveTalent">储备人才统计表</a></dd>
                        <dd><a href="ana-Architecture">公司各体系结构分析</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--内容主体开始-->
    <div class="layui-body" style="font-size: 20px;background-image: url('/images/face/0002.gif')">
        <div style="margin: 20px auto 40px 20px">
            <a href="ana-Details">数据分析</a> >> <a href="ana-SntheticData">职员数据综合报表</a>

        </div>
        <form action="">
            <!--部门下拉框-->
            <label style="margin-left: 200px">年度：</label>
            <select name="department" id="department">
                <option value="0">--请选择--</option>
                <option value="1">2011</option>
                <option value="2">2012</option>
                <option value="3">2013</option>
                <option value="4">2014</option>
                <option value="5">2015</option>
                <option value="6">2016</option>
                <option value="7">2017</option>
                <option value="8">2018</option>
                <option value="9">2019</option>
            </select>

            <button type="button" style="margin-left: 1000px" class="layui-btn layui-btn-radius layui-btn-normal">&nbsp;&nbsp;查询
                &nbsp;&nbsp;
            </button>
            <table style="margin-left: 20px;border: 1px solid #000;" class="layui-table">
                <tr style="font-weight: bold; color: #000;">
                    <th>年度/学历</th>
                    <th>全部(人数)</th>
                    <th>博士(人数)</th>
                    <th>硕士(人数)</th>
                    <th>本科(人数)</th>
                    <th>专科(人数)</th>
                </tr>
                <tr th:each="file:${FileList}">
                    <td th:text="${#dates.format(file.build,'yyyy')}" th:value="${file.id}">2007</td>
                    <td class="popupTable" th:each="countFile:${CountFile}">500</td>
                    <td class="popupTable">50</td>
                    <td class="popupTable">100</td>
                    <td class="popupTable">300</td>
                    <td class="popupTable">50</td>
                </tr>

            </table>
        </form>
    </div>

</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
</div>
</div>
<script src="layui.js"></script>
<script src="jquery-1.12.4.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });


    <!--这个cg就是span的id，初始化Date时间并转化为字符string类型,每1000毫秒，setInterval() 就会调用函数，直到被关闭。-->
    setInterval("cg.innerHTML=new Date().toLocaleString()", 1000);

    // 点击数字弹出员工明细表
    $(".popupTable").click(function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            var str = '<table style="margin: auto;border: 1px solid #000;" class="layui-table"><tr><td>ddd</td><td>ddd</td><td>ddd</td><td>ddd</td><td>ddd</td></tr><tr><td>ddd</td><td>ddd</td><td>ddd</td><td>ddd</td><td>ddd</td></tr></table>'
            layer.open({
                title: '在线调试',
                content: str,
                area: ['1600px', '600px'],
                offset: 'r'
            });
        });
    })

</script>
<script type="text/javascript">
    function showTime() {
        nowtime = new Date();
        year = nowtime.getFullYear();
        month = nowtime.getMonth() + 1;
        date = nowtime.getDate();
        document.getElementById("mytime").innerText = year + "年" + month + "月" + date + " " + nowtime.toLocaleTimeString();
    }

    setInterval("showTime()", 1000);

</script>
<script type="text/javascript">
    $(function () {
        $("input").attr('autocomplete', 'off');
    });
</script>
</body>
</html>