<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人力资源系统</title>
    <link rel="stylesheet" href="css/layui.css">
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script src="layer.js"></script>
    <script type="text/javascript">
        $(function () {




            $("#userPassword").mouseout(function () {
                var userPassword = $("#userPassword").val();
                var pass = $("#pass").val();

                if(userPassword!=pass){
                    $("#userPassword2").html("旧密码错误")
                }else if(userPassword.length<6){
                    $("#userPassword2").html("旧密码长度不能小于6位数")
                }else{
                    $("#userPassword2").html("")

                }

            });


            $("#password").mouseout(function () {
                var password = $("#password").val();
                if(password.length<6){
                    $("#password2").html("新密码长度不能小于6位数")
                }else{
                    $("#password2").html("")
                }

        });

            $("#ruserPassword").mouseout(function () {
                var ruserPassword = $("#ruserPassword").val();
                var password = $("#password").val();
                if(ruserPassword.length<6){
                    $("#ruserPassword2").html("确认密码长度不能小于6位数")
                }else  if(ruserPassword != password) {
                    $("#ruserPassword2").html("两次密码不一致")
                }else{
                    $("#ruserPassword2").html("")
                }


        });
        });
    </script>
    <script type="text/javascript">
        function showTime() {
            nowtime = new Date();
            year = nowtime.getFullYear();
            month = nowtime.getMonth() + 1;
            date = nowtime.getDate();
            document.getElementById("mytime").innerText = year + "年" + month + "月" + date + " " + nowtime.toLocaleTimeString();
        }

        setInterval("showTime()", 1000);

    </script>
    <script src="layer.js"></script>
    <script>
        layui.use('layer', function(){
            var layer = layui.layer;

            var ti = $("#u2").html();

            if(ti!=null){
                layer.msg(ti);
            }



        });
    </script>
    <style>
        body {
            color: rgb(59, 58, 62);
        }

        input {
            width: 400px;
            height: 50px;
            font-size: 18px;
            size: 30px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #ffffff;
            color: rgb(59, 58, 62);
            margin: 20px 0px 20px 0px;
            text-align: center;
        }

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="ByIndex">
            <div class="layui-logo">企业人力资源系统</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a  >-->
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="">邮件管理</a></dd>-->
        <!--<dd><a href="">消息管理</a></dd>-->
        <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--</ul>-->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <span id="mytime"></span>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/face/26ed195281334ba4b1752394b60eb29a.gif" class="layui-nav-img">
                    <span th:text="${loginsessions.username}"></span>
                </a>
                <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
                <!--</dl>-->
            </li>
            <li class="layui-nav-item"><a href="ByLogin">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">我的工作台</a>
                    <dl class="layui-nav-child">
                        <dd><a href="bocklog">待办列表</a></dd>
                        <dd><a href="changePassword">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">部门管理</a></dd>
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a href="javascript:;">职位管理</a></dd>
                        <dd><a href="javascript:;">职称管理</a></dd>
                        <dd><a href="javascript:;">题库管理</a></dd>
                        <dd><a href="javascript:;">公共属性管理</a></dd>
                        <dd><a href="javascript:;">薪酬项目管理</a></dd>
                        <dd><a href="javascript:;">用户设置</a></dd>
                        <dd><a href="javascript:;">部门设置</a></dd>
                        <dd><a href="javascript:;">用户设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">薪酬管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">薪酬标准管理</a></dd>
                        <dd><a href="javascript:;">薪酬发放管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">人事管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="showList">人事档案管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">招聘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">职位发布管理</a></dd>
                        <dd><a href="javascript:;">简历管理</a></dd>
                        <dd><a href="javascript:;">面试管理</a></dd>
                        <dd><a href="javascript:;">录用管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">培训计划</a></dd>
                        <dd><a href="javascript:;">培训复核</a></dd>
                        <dd><a href="javascript:;">培训考核与反馈</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">数据分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="ana-Details">职员明细表</a></dd>
                        <dd><a href="ana-SntheticData">职员数据综合报表</a></dd>
                        <dd><a href="ana-PostChangesStatistics">职员异动情况统计分析</a></dd>
                        <dd><a href="ana-ReserveTalent">储备人才统计表</a></dd>
                        <dd><a href="ana-Architecture">公司各体系结构分析</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--内容主体部分-->
    <div class="layui-body" style="background-image: url('/images/face/0002.gif')">

        <div id="u18" class="ax_文本" style="margin: 10px 0px 0px 70px;font-size: 20px">
            <!-- Unnamed () -->
            <div id="u19" class="text">
                <p><span>我的工作平台</span><span>&nbsp;</span><span>&gt;&gt;</span><span>&nbsp;</span><span>修改密码</span></p>
            </div>


        </div>

        <form action="changePassword2" style="text-align: center" method="post">

            <span th:if="${TiShi}!=null">
            <span th:text="${TiShi}" id="u2" style="color: #0C0C0C;font-size: 30px;display: none"></span>
            </span>
            <div>
                <input style="display: none;" th:value="${loginsessions.id}" name="id" id="id">
                <input style="display: none;" th:value="${loginsessions.password}" id="pass">
                <div>
                    <input type="password"  id="userPassword" placeholder="请输入旧密码" align="right">
                    <br>
                    <span id="userPassword2" style="color: red"></span>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="请输入新密码" align="right">
                    <br>
                    <span id="password2" style="color: red"></span>
                </div>
                <div>
                    <input type="password"  id="ruserPassword" placeholder="请确认新密码" align="right">
                    <br>
                    <span id="ruserPassword2" style="color: red"></span>
                </div>
            </div>


            <button style="margin-top: 30px;width: 200px" type="submit"
                    class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal uu4">修改密码
            </button>

        </form>




    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->


        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script src="/static/build/layui.js"></script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
            , calendar: true
        });
    });
</script>


</body>
</html>
</body>
</html>